<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reclama Mairinque</title>
    <link rel="stylesheet" href="/style_index.css">

</head>

<body>

<header>
    <div class="logo-title">
        <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="WhatsApp">
    </div>

    <img src="./img/logoreclamamairinque.png" alt="Logo" class="logo-center">
</header>

<section class="hero">
    <div class="overlay"></div>

    <div class="content">
        <h1>Bem - Vindo ao<br>Reclama Mairinque!</h1>

        <a href="#" class="btn">Faça sua reclamação</a>
        <a href="#" class="link">Denúncia anônima</a>
    </div>
</section>

</body>
</html>