<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reclama Mairinque</title>

    <!-- CSS -->
    <link rel="stylesheet" href="index.css">
</head>

<body>


<!-- HEADER -->
<header class="topo">
    <div class="menu-icon">☰</div>

    <img src="img.png" alt="Logo Reclama Mairinque" class="logo">

    <div class="whatsapp">
        <img src="whats.avif" alt="WhatsApp">
    </div>
</header>


<!-- SEÇÃO PRINCIPAL -->
<section class="hero">

    <div class="overlay"></div>

    <div class="conteudo">
        <h1>Bem - Vindo ao<br>Reclama Mairinque!</h1>

        <button class="btn-principal"><a href="ocorrencia/cadastro">Faça sua reclamação</a></button>


    </div>

</section>

</body>
</html>